useDynLib(clusdec)

export(chooseBest)
export(clusdecAccuracy)
export(deconvolveClusters)
export(plotProportions)
export(preprocessDataset)
export(preprocessGSE)
export(pairwiseLinearFit)
export(pairwiseDemingRegression)
export(r2Profiler)
export(visualizeProfilerResults)
export(r2Filtering)
export(runSpici)
export(provideClusterInfo)
export(cartseianFromSpherical)
export(deconvolve)
export(fcnnls_c)
export(analysis_c)
export(local_minimum)
export(particle_swarm_optimisation)
export(score_export)
export(getCoefMatrix)

import(GEOquery)
import(NMF)
import(amap)
import(corpcor)
